.shopping-cart-page-wrapper {
  color: 2b2a2a;
}

.cart-table-section {
  background-color: white;
  margin-top: 20px;
  border-radius: 3px;
  padding: 0 20px;
  box-shadow: 1px 1px 3px #bbbbbb;

}

.cart-table {
  margin-bottom: 100px;
  text-align: left;
  font-color: #222;
}

.cart-table-header {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}

.cart-table-row {
  margin-bottom: 10px;
  align-items: center;
}

.sub-total-row {
  padding: 15px 0;
  border-top: 1px solid #eee;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.cart-table-footer {
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  // padding: 15px;
}

.cart-page-main {
  text-align: center;
  margin-top: 100px;
}
.cart-page-welcome {
  margin: 60px 0px;
}

.cart-image-container {
  background-size: cover;
}

.cart-image {
  max-width: 100px;
  max-height: 100px;
}

.sum-total-text {
  margin-right: 10px;
}

.cart-cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page-back-to-recs {
  margin-top: 20px;
  :visited {
    color: #7d7d7d;
    opacity: 0.4;
  }
}
  // .cart-page-back-to-recs:hover {
  // text-decoration: none;
  // color: #7d7d7d;
  // opacity: 1;
  // }


