.checkout-header {
	display: flex;
	justify-content: space-around;
}


.wrapper-checkout {
  .container-item tr td {
  	vertical-align: middle;
  	text-align: left;
  }

  form {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
}