.devise-wrapper {
	margin-top: 100px;
}

.sign-up-container {
	margin-bottom: 80px;
	width: 1112px;
	background-color: white;
	box-shadow: 0 0.2px 0.1px;
}

.devise-header {
	font-size: 44px
}

.devise-form {
	margin: 20px 0;
}

.remember-me {
	margin-left: 23px;
}

.devise-link {
	text-align: center
}