// Products Index Page
.wrapper-index {
  text-align: center;
  font-weight: bold
}

.shirts-title {
  margin-top: 40px;
  font-weight: bold;
}

.pants-title  {
  margin-top: 211px;
  font-weight: bold;
}
.recommendation-header-line {
  border-color: #ccc;
  max-width: 800px;
}

.container-card {
  position: relative;

}

.card-category {
  position: absolute;
  top: 508px;
  left: 283px;
  color: black;
}

.card-description {
  top: 517px;
  width: 100%;
  text-align: center;
  p {
      text-align: center;

  }
}

.back-recommedation-button {
  display: inline-flex;
  align-items: center;
}

.card-index {
   transition: transform .5s;
   background-repeat: no-repeat;
   // background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 4);


    &::after {
      opacity: 1;
    }
  }
}



// Product Show Page

.page-title {
  text-align: center;
}

.product-page-container {
  background: white;
  border: 1px #C0B7B1;
  box-shadow: 0 0 3px 1px gray;
  height: 640px;
  // width: 971px;
  margin-top: 120px;
  font-size: 20px;
}

.main-image {
  max-width: 405px;
  max-height: 505px;
  // padding-left: 20px;
  padding-top: 38px;
}

.product-page-img {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 30px;
  // margin-left: 30px;
}

.product-page-content {
  position: relative;
  margin-left: 52px;
  height:400px;
  color: #353535;
}

.product-description {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 33px;
}

.add-to-cart {
  // position: absolute;
  // bottom: -180px;
  // right: 20px;

}

.back-to-recs {
  // position: relative;
  margin-top: 30px;
  text-align: center;
}

.btn-back-to-recs {
  // position: absolute;
  // bottom: 20px;
  // right: 200px;
  // text-align: center;
}

.product-description h4{
  font-size: 35px;
  margin-right: 40px;
}

.product-description h5 {
  font-style: italic;
  font-size: 30px;
  margin-right: 40px;
}

.product-meta-action {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px 0 20px;

  position: absolute;
  bottom: -180px;
}

.product-price {
  // position: absolute;
  // bottom: -193px;
  // left: 20px;
  // margin-top: 10px;
  font-size: 30px;
}

.back-to-recs{
  margin-top: 50px;
  margin-bottom: 50px;
}

.back-to-recs .back-recommedation-button{
  font-size:26px;
}

.btn-recommendation {
  background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    padding: 10px 35px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}
