.wrapper-form-button.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-action .btn.btn-default {
  width: 100%;
  color: gray;
}

.form-action2 .btn {
  width: 100%;
  color: #da552f;
  border: 2px solid #da552f;
}
