.wrapper-show {
  display: flex;
  justify-content: space-between;
}

.table-bordered-show {
  height: 600px;
}

.map  {
  flex: 1 0 70%;
}

.container-show {
  flex: 1 0 50%;
}

.name {
  font-size: 73px;
}

.description {
  font-size: 21px;
  letter-spacing: 5px;
}
