// Place all the styles related to the survey_responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invisible { 
  display: none; 
}

.wrapper {
  height: 800px;
}

.survey_form  {
  text-align: center;
  height: calc(100vh - 120px);
  font-size: 18px;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}

.question{
  padding: 8px;
  margin-bottom: 8px;
}

.survey-answer-label {
  background-color: white;
  display: block;
  border: 1px solid #d1d0cc;
  border-radius: 2px;
  margin: 0 10px 10px 0;
  padding: 10px;
  font-size: 16px;
}

.survey-answer-radio {
  display: none;
}

.survey-answer-radio:checked ~ label {
  background-color: #d1d0cc;
  opacity: 0.8;
  border: 2px dashed #d1d0cc;
}

.survey-answer-item {
  display: inline-block;
}

.survey-answer-image {
  // height: 270px;
  // width: 200px;
  // border: 1px dotted #d1d0cc;
  // background-image: cover;
}

.explanation {
  border-left: solid #eee 1px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.3;
  color: #666;
}

.question-header {
  margin-top: 0;
  font-size: 30px;
}

.question-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.survey-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #F4F4F4;
}

.inner-footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.survey-nav {
  margin: 0 20px;
}

.container-survey {
  overflow: hidden;
}