// Place all the styles related to the survey_responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  height: 800px;
}

.survey_form  {
  text-align: center;
  height: 100vh;
  font-size: 30px;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 200px;
}

.question{
  padding: 8px;
  margin-bottom: 8px;
}

.survey-answer-label {
  background-color: #d1d0cc;
  display: block;
  border: 1px dotted #d1d0cc;
  border-radius: 2px;
  margin: 15px;
  padding: 10px;
  font-size: 25px;
}

.survey-answer-radio {
  display: none;
}

.survey-answer-radio:checked ~ label {
  background-color: #d1d0cc;
  opacity: 0.8;
  border: 2px dashed #d1d0cc;
}

.survey-answer-item {
  display: inline-block;
}

.survey-answer-image {
  // height: 270px;
  // width: 200px;
  // border: 1px dotted #d1d0cc;
  // background-image: cover;
}