// Place all the styles related to the survey_responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invisible {
  display: none;
}

.wrapper {
  height: 800px;
}

.survey_form  {
  text-align: center;
  height: calc(100vh - 120px);
  font-size: 18px;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  > .simple_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.question-wrapper {
  background-color: white;
  padding: 40px;
}

.question{
  padding: 8px;
  margin-bottom: 8px;
}

.survey-answer-label {
  background-color: white;
  display: block;
  border-radius: 2px;
  margin: 0 15px 20px 0;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 25px #ccc;
}

.survey-answer-radio {
  display: none;
}

.survey-answer-radio:checked ~ label {
  background-color: #d1d0cc;
  opacity: 0.8;
  border: 2px dashed #d1d0cc;
}

.survey-answer-item {
  display: inline-block;
}

.survey-answer-image {
  height: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  background-color: white;

  img {
    max-height: 180px;
    max-width: 180px;
  }
  // height: 270px;
  // width: 300px;
  // border: 1px dotted #d1d0cc;
  // background-image: cover;
}

ul.question-type-image .input.radio_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin: 0 200px;
}

ul.question-type-text .input.radio_buttons {
  margin: 0 120px;

  .survey-answer-item label {
    line-height: 60px;
    padding: 0 14px;
    min-width: 60px;
  }
}

.explanation {
  border-left: solid #eee 1px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 1.3;
  color: #666;
  text-align: center;
  opacity: 0.6;
}



.question-header {
  margin-top: 0;
  font-size: 30px;
  display: inline-block;
  padding: 15px;
  margin: 0 auto 30px;
  border-radius: 2px;
  border-bottom: 3px solid #222;

  /* Marty Changes */
  margin: 0 auto;
    border: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.question-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.survey-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #F4F4F4;
}

.inner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 10px 0 10px 0;
  border-radius: 5px;

  .btn {
    background: none;
  }
}

.survey-nav {
  margin: 0 20px;
}

.container-survey {
  overflow: hidden;
}
