<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/bondichi/kel.x"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.lewagon.com/melbourne"><i class="fas fa-bus"></i></a>
  </div>
  <div class="footer-text">
    <a href="#">FAQs</a> /
    <a href="#">Privacy Policy</a> /
    <a href="#">Terms and Conditions</a> /
    <a href="#">About us</a>
  </div>
</div>
