<div class="banner" style="background-image: url('https://source.unsplash.com/Nv4QHkTVEaI/1600x900');">
  <div class="banner-content">
  <h1 style="color: black; font-weight: bold; font-size: 90px;">Kel.x</h1>
  <p style="color: black; font-size: 70px">best style for you</p>
  <div class="btn"  style="text-align: center;">
  <%= link_to "Get started", new_survey_survey_response_path(Survey.last), class: 'btn-group-lg btn-default btn-lg' %>
  </div>
  </div>
</div>


<div class="wrapper-home">
  <div class="container-info">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-sm-offset-3" style="width: 100%;">
      <h1>About us</h1>
      <h2>Want to look suave?</h2>
        <p>Don't let your Mum buy your clothes for you...</p>
        <p>Take your thread game to the next level, we're here for you.</p>
        <br>
      <ul>
        <li>Fill out your style profile <strong> 3min </strong></li>
        <br>
        <li>Our expert stylists handpick items just for you</li>
        <br>
        <li>Free delivery</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="container-card">
    <div class="col-xs-6 col-sm-3 col-sm-offset-4">
      <div class="row">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/qnKhZJPKFD8');">
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container-cards">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('https://plazaromania.ro/wp-content/uploads/2017/02/logo_pull_and_bear_1024px.png'); width: 306px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:url('https://matalan-assets.imgix.net/assets/roundel/pdp/brand_farah-02c5bf0ef629cb3ab1a1d1589e4bebd17a4ec3928368eb891677a5712b498a53.svg'); width: 306px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:url('https://cdn-ap-ec.yottaa.net/560442ae312e58642f000cde/44b6e820c4840134a0f50a3ba3fac80a.yottaa.net/v~4b.bb/tenantlogos/22370.png?yocs=v_&yoloc=ap'); width: 306px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:url('https://www.yellowpages.my/custom/domain_1/image_files/sitemgr_photo_133654.png'); width: 306px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:url('https://www.crossgatesshopping.co.uk/wp-content/uploads/2015/11/New-Look-Logo.png'); width: 306px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image:url('https://www.interbrand.com/assets/00000001361.png'); width: 306px;">
      </div>
    </div>
  </div>
</div>

<div class="container_button2" style="text-align: center;">
  <div class="btn"  style="text-align: center; margin-top: 27px;">
  <%= link_to "Get started", new_survey_survey_response_path(Survey.last), class: 'btn-default btn-lg btn-block' %>
  </div>
</div>



