<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<div class="banner" style="background-image: url('https://source.unsplash.com/Nv4QHkTVEaI/1600x900');">
  <div class="banner-content">
  <h1 style="color: black; font-weight: bold; font-size: 90px;">Kel.x</h1>
  <p style="color: black; font-size: 70px">With suitable style for you</p>
</div>
