<div class="banner" style="background-image: url('https://source.unsplash.com/Nv4QHkTVEaI/1600x900');">
  <div class="banner-content">
  <h1 style="color: black; font-weight: bold; font-size: 90px;">Kel.x</h1>
  <p style="color: black; font-size: 70px">best style for you</p>
  </div>
</div>

<div class="container_index">
  <div class="btn"  style="text-align: center;">
  <%= link_to "Get started", new_survey_survey_response_path(Survey.last), class: 'btn-group-lg btn-default btn-lg' %>
  </div>
</div>

<class class="wrapper-home" style="display: flex, justify-content: space-between">
  <div class="container-home" style="flex: 1 0 70%;">
    <div class="row">
      <h2>Info</h2>
      <h3> Box
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ind.stry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h3>
    </div>
    <div class="container-card" style="flex: 1 0 70%;">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/qnKhZJPKFD8');">
         </div>
        </div>
      </div>
    </div>
  </div>
</class>

<br>

<div class="container-cards">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/aU1cBKa3mJU/1600x900');">
      </div>
    </div>
  </div>
</div>

<div class="container.message">
  <h4>Info Box

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ind.stry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h4>
</div>



