.container_index  {
  margin-top: 46px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-recommedation-button {
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
// if you want orange color  -> btn btn-danger shaded-rounded-btn
