.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #da552f;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-text {
  text-decoration: none;
  font-size: 20px;
}

.footer-text a{
  color: white;
  text-decoration: none;
}

.footer-text a:hover {
  opacity: 1;
  text-decoration: none;
  color: #da552f;
}
