<h1>Product Page</h1>

<h3>TO DO</h3>
<ul>
<li>This page should show the product image description price etc which has been clicked from recommendations page</li>
<li>TO DO: Add to Cart</li>
<li>TO DO: Add to Wishlist</li>
<li>TO DO: Show cards for similar products</li>
</ul>


<button><%= link_to "Back to Recommendations", products_path(@products)%></button>

